@media (max-width: 768px) {
    .section_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }
    .section1,
    .section2,
    .section3 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }

    .section2 {
        display: flex;
        flex-direction: column-reverse;
    }

    .section_img img,
    .section_img img,
    .section_img img {
        object-fit: contain;
    }

    .section1 .section_img,
    .section3 .section_img {
        margin-left: 0px;
    }

    .section2 .section_img {
        margin-right: 0px;
    }
    .section_content {
        margin-left: 0%;
    }

    .section2_span {
        left: 0%;
    }

    .content h1 {
        font-size: 44px;
    }

    .start_container {
        background-position: center;
        height: 850px;
    }

    .content h3 {
        font-size: 16px;
        font-weight: 800;
    }

    .content span {
        font-size: 16px;
    }

    .left_nav .nav_link {
        font-size: 16px;
    }

    .slider_container {
        right: 48px;
    }

    .section_content p {
        font-size: 16px;
    }
    .section_content h2 {
        font-size: 40px;
    }

    .section_content h3 {
        font-size: 16px;
    }
    .section1 > span,
    .section2 > span,
    .section3 > span {
        font-size: 180px;
    }

    .section_content button {
        font-size: 16px;
    }

    .footer_copyright p {
        font-size: 16px;
        width: 265px;
    }
    .footer_copyright span {
        font-size: 14px;
    }

    .footer_blog p,
    .footer_mntn p {
        font-size: 20px;
    }

    .footer_blog ul,
    .footer_mntn ul {
        font-size: 16px;
    }
    ul {
        padding-inline-start: 0px;
    }

    .nav_header {
        display: none;
    }

    .nav_header_mobile {
        display: flex;
    }

    .nav_header_mobile button {
        color: #ffffff;
        width: 40px;
        height: 40px;
        font-size: 40px;
        line-height: 40px;
    }
}
