@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 4600px;
    background-color: rgba(11, 29, 38, 1);
}

p {
    padding: 0;
    margin: 0;
}

main {
    width: 100%;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
}

button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
}

.nav_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 37px;
    margin: 0 auto;
    margin-top: 64px;
}

.nav_header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.nav_header ul li:first-child {
    margin-right: auto;
}

.nav_header ul li:last-child {
    margin-left: auto;
}

.nav_header ul li a {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #ffffff;
}

.nav_account {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: #ffffff;
}
.nav_account img {
    max-width: 24px;
    max-height: 24px;
    margin-right: 5px;
}

.socials {
    display: flex;
    position: fixed;
    top: 30%;
    left: 0;
}

.socials ul {
    display: flex;
    flex-direction: column;
}

.socials ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.rotate_text {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: #ffffff;
    transform: rotate(90deg);
    white-space: nowrap;
    position: relative;
    top: -20px;
    user-select: none;
}

.start_container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(to bottom, rgba(11, 29, 38, 0) 60%, rgba(11, 29, 38) 100%), url("/img/bg1920x1080.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.left_nav {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.left_nav .nav_link {
    display: flex;
    flex-direction: column;
    align-items: end;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
    right: 0;
}

.slider_container {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    top: 25%;
    right: 80px;
}

.left_nav {
    display: flex;
    flex-direction: column;
}

.nav_link {
    padding: 10px;
    color: #000;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}

.right_slider {
    display: flex;
    align-items: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.fillStart,
.fill01,
.fill02,
.fill03 {
    width: 5px;
    height: 100%;
    transition: height 0.3s ease;
    background-color: rgba(255, 255, 255, 0.5);
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 950px;
    text-align: left;
    position: relative;
}

.content h1 {
    max-width: 950px;
    font-family: "Playfair Display", serif;
    color: #ffffff;
    font-weight: 600;
    font-size: 88px;
    line-height: 100px;
    gap: 32px;
}

.content h3 {
    color: #fbd784;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    letter-spacing: 6px;
}

.content span {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
}

.yellow_rectangle {
    display: inline-block;
    width: 72px;
    height: 2px;
    background-color: #fbd784;
    margin-right: 10px;
    vertical-align: middle;
}

.section_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 200px;
    background-color: rgba(11, 29, 38, 1);
    margin-bottom: 300px;
}

.section1,
.section2,
.section3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 1462px;
    height: 720px;
}

.section1 > span,
.section2 > span,
.section3 > span {
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255, 0.1);
    font-size: 240px;
    line-height: 240px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
}

.section1 img,
.section2 img,
.section3 img {
    object-fit: contain;
}

.main_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.section_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    max-width: 632px;
    margin-left: 10%;
}

.section_content h2 {
    font-family: "Playfair Display", serif;
    color: #ffffff;
    font-weight: 600;
    font-size: 64px;
    max-width: 555px;
}

.section_content h3 {
    color: #fbd784;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    letter-spacing: 6px;
    font-weight: 800;
}

.section_content p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 32px;
    color: #ffffff;
    max-width: 632px;
    text-overflow: ellipsis;
}

.section_content button {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    max-width: 127px;
    max-height: 27px;
    color: #fbd784;
}

footer {
    height: auto;
    width: 100%;
}

.footer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
}

.footer_copyright p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
}

.footer_copyright span {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    bottom: 0;
    position: absolute;
}

.footer_copyright,
.footer_blog,
.footer_mntn {
    text-align: left;
}

.footer_blog p,
.footer_mntn p {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    color: #fbd784;
}

.footer_blog ul,
.footer_mntn ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
}

.footer_blog ul li a,
.footer_mntn ul li a {
    text-decoration: none;
    color: #ffffff;
}

.footer_blog,
.footer_mntn {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer_blog ul,
.footer_mntn ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
